* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  background-color: #000000;
}

h1, h2{
  margin-bottom: 1em;
  color: #fff;
}

span {
  color: #4caecf;
}

.main {
  padding: 1em;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
}

.display {
  border: 1px solid #fff;
  margin-bottom: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.display input {
  text-align: right;
  border: none;
  color: #fff;
  background-color: #000;
}

.small-display {
  font-size: 16px;
  margin-bottom: 5px;
}

.large-display {
  font-size: 40px;
}

.inputs {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.inputs button {
  font-size: 28px;
  padding: 20px;
  color: white;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
}

.inputs button:hover {
  cursor: pointer;
}

.is-equals,
.is-clear {
  grid-column: span 3;
  border-radius: 10px !important;
}

.is-equals {
  background-color: #4caecf !important;
}

.is-clear {
  background-color: #4caecf !important;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 961px) {
  .main {
    max-width: 400px;
  }
}